.login-container {
  background-color: indianred;
  width: 400px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid indianred;
  margin: 100px auto;
}

.login-logo {
  width: 300px;
  margin: -30px auto;
}

.login-form {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 50px 40px 30px !important;
}

.login-input {
  border: none !important;
  border-bottom: 1px solid indianred !important;
}

.login-button {
  background-color: indianred !important;
  width: 100%;
  color: white !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.login-text {
  color: indianred;
}

.login-text:hover {
  color: #e74c3c;
}
