.forgot-password-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.forgot-password-container .forgot-password-form {
  width: 450px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid indianred;
  background-color: snow;
}

.forgot-password-container .forgot-password-form .forgot-password-label {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
  font-weight: bold;
}

.forgot-password-container .forgot-password-form .forgot-password-icon {
  margin-right: 5px;
}

.forgot-password-container .forgot-password-form .forgot-password-input {
  border: none;
  border-bottom: 1px solid indianred;
}

.forgot-password-container .forgot-password-form .forgot-password-input:hover {
  border-bottom: 1px solid indianred;
}

.forgot-password-container .forgot-password-form .forgot-password-save-button {
  width: 100%;
  border-radius: 5px;
  background-color: indianred;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.forgot-password-container .forgot-password-form .forgot-password-save-button:hover {
  border: 1px solid indianred;
}

.forgot-password-container .forgot-password-form .forgot-password-cancel-button {
  background-color: snow;
  width: 100%;
  color: indianred !important;
  border-radius: 5px !important;
  font-weight: bold;
  margin-bottom: 0;
}

.forgot-password-container .forgot-password-form .forgot-password-cancel-button:hover {
  border-color: indianred !important;
}